.wrapper {
    margin: auto;
    max-width: 960px;
}

.slider {
    overflow-x: scroll;
    white-space: nowrap;
}

::-webkit-scrollbar {
    height: 5px;
    width: 10px;
    border-radius: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }